/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
.site-header {
    background-color: #002868;
    color: white;
    text-align: center;
    padding: 40px;
}

.site-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.site-header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

.main-title {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

.subtitle {
    margin: 10px 0;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
}

.authors {
    margin: 5px 0;
    font-size: 1em;
    font-style: normal;
}

/* Navigation bar styles */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

.content {
    padding: 20px 20px;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Countdown Timer Container */
#countdown {
    text-align: center; 
    margin: 40px 0;
    padding: 20px;
    background-color: #f0f8ff;
    border: 2px solid #002868;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif; 
    max-width: 400px; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Timer Text Above the Timer Display */
#countdown p {
    font-size: 1.2em;
    margin-bottom: 10px; 
    color: #333; 
}

/* Timer Display */
#timer {
    font-size: 2em;
    color: #002868;
    font-weight: bold;
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}


/* Main Text Style*/
main {
    padding: 20px;
}
