<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header Section -->
    <header class="site-header">
        <h1 class="main-title">{{ site.title }}</h1>
        <h2 class="subtitle">{{ site.subtitle }}</h2>
        <p class="authors">
            By {{ site.authors | join: " and " }}
        </p>
        <nav class="navbar">
        <ul>
            <li><a href="#intro">Introduction</a></li>
            <li><a href="#methods">Methods and Results</a></li>
            <li><a href="#conclusion">Conclusion</a></li>
        </ul>
    </nav>
    </header>

    <!-- Main Content -->
    <div class="content">
        <main>
            {{ content }}
        </main>
    </div>
</body>
</html>
